<nz-form-item>
  @if (label) {
    <nz-form-label
      class="label"
      [nzSpan]="24"
      [nzRequired]="required"
      [nzFor]="inputId"
      >{{ label }}</nz-form-label
    >
  }

  <nz-form-control
    [nzSpan]="24"
    [nzErrorTip]="dateErrorTpl"
    [nzValidateStatus]="
      (ngControl?.control?.dirty || ngControl?.control?.touched) &&
      ngControl?.control?.invalid
        ? 'error'
        : ''
    "
  >
    <nz-date-picker
      [nzShowTime]="nzShowTime"
      [nzFormat]="nzFormat"
      [nzPlaceHolder]="placeholder"
      [nzAllowClear]="allowClear"
      [nzDisabledDate]="disableFutureDates"
      (blur)="blur()"
      [id]="inputId"
      [ngModel]="value"
      (ngModelChange)="updateAndNotify($event)"
      style="width: 100%"
    ></nz-date-picker>

    <ng-template #dateErrorTpl let-control>
      <div class="error-message">
        @if (errorMessage) {
          {{ errorMessage }}
        } @else {
          @if (ngControl.hasError("required")) {
            მითითება სავალდებულოა
          }
        }
      </div>
    </ng-template>
  </nz-form-control>
</nz-form-item>
