<nz-form-item>
  @if (label) {
    <nz-form-label
      [nzSpan]="24"
      [nzRequired]="required"
      [nzFor]="inputId"
      [nzTooltipTitle]="nzTooltipTitle"
      >{{ label }}</nz-form-label
    >
  }
  <nz-form-control
    [nzSpan]="24"
    [nzErrorTip]="errorTpl"
    [nzValidateStatus]="
      (ngControl?.dirty || ngControl?.touched) && ngControl?.invalid
        ? 'error'
        : ''
    "
  >
    <ng-template #clearIconTmpl
      ><i
        nz-icon
        nzType="close-circle"
        nzTheme="fill"
        (click)="clear($event)"
      ></i
    ></ng-template>
    <nz-select
      nzShowSearch
      [nzAllowClear]="nzAllowClear"
      [nzClearIcon]="clearIconTmpl"
      [nzMode]="mode"
      [nzMaxTagCount]="maxTagCount"
      [nzPlaceHolder]="placeholder"
      [id]="inputId"
      [disabled]="disabled || readonly"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
      (blur)="blur()"
      [nzServerSearch]="nzServerSearch"
      (nzOpenChange)="openChange($event)"
    >
      @if (withTooltip) {
        @for (item of data; track item) {
          <nz-option
            nzCustomContent
            [nzLabel]="toDisplay(item)"
            [nzValue]="toValue(item)"
            [nzDisabled]="isDisabled(item)"
          >
            <i nz-icon [nzType]="item.icon" class="icon"></i>
            <span>
              {{ toDisplay(item) }}
            </span>
          </nz-option>
        }
      } @else {
        @for (item of data; track item) {
          <nz-option
            [nzLabel]="toDisplay(item)"
            [nzValue]="toValue(item)"
            [nzDisabled]="isDisabled(item)"
          ></nz-option>
        }
      }
    </nz-select>
    <ng-template #errorTpl let-control>
      @if (ngControl.hasError("required")) {
        მითითება სავალდებულოა
      }
    </ng-template>
  </nz-form-control>
</nz-form-item>
