.wrapper {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  //background-color: #fdecec;
  margin: auto;
  padding: 50px 100px;
  border-radius: 10px;
  gap: 15px;
}
