<div class="calendar-container">
  <div class="calendar-header">
    <h1>
      <span style="float: left"> {{ getFormattedCurrentDate() }}</span>
      <span class="clock">
        {{ time$ | async }}
      </span>
    </h1>
  </div>
  <table mat-table class="mat-elevation-z8">
    <thead>
      <tr>
      @for(day of weekdays; track day; let i = $index;) {
        <th class="day-header">{{weekdays[i]}}</th>

        }
      </tr>
    </thead>
    <tbody>
      @for (week of weeks; track week) {
        <tr>
          @for (dateInfo of week; track dateInfo) {
            <td
              [ngClass]="{
                today: dateInfo.isToday,
                weekend: dateInfo.isWeekend && !dateInfo.isToday,
                'non-month-day': dateInfo.day === 0
              }"
            >
              {{ dateInfo.day || "" }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
